---
layout: default
---
<article>
  <h2>{{ page.title }}</h2>
  <p class="meta">{{ page.date | date_to_string }}</p>

  <div class="adsense-posttop">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- nocorica big -->
    <ins class="adsbygoogle"
          style="display:inline-block;width:728px;height:90px"
          data-ad-client="ca-pub-2136746860059501"
          data-ad-slot="6741569871"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

  <section>
    {{ content }}
  </section>

  <div class="adsense">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- adsense1 -->
    <ins class="adsbygoogle"
          style="display:inline-block;width:300px;height:250px"
          data-ad-client="ca-pub-2136746860059501"
          data-ad-slot="8272729071"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <!-- adsense2 -->
    <ins class="adsbygoogle"
      style="display:inline-block;width:300px;height:250px"
      data-ad-client="ca-pub-2136746860059501"
      data-ad-slot="7993527470"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>

</article>
